[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
certifi = "==2024.12.14"
charset-normalizer = "==3.4.1"
click = "==8.1.8"
cloudinary = "==1.42.1"
dj-database-url = "==2.3.0"
django = "==5.1.5"
django-cloudinary-storage = "==0.3.0"
django-markdownx = "==4.0.7"
django-widget-tweaks = "==1.5.0"
gunicorn = "==23.0.0"
h11 = "==0.14.0"
idna = "==3.10"
markdown = "==3.7"
packaging = "==24.2"
pillow = "==11.1.0"
python-dotenv = "==1.0.1"
python-magic = "==0.4.27"
requests = "==2.32.3"
six = "==1.17.0"
sqlparse = "==0.5.3"
typing-extensions = "==4.12.2"
urllib3 = "==2.3.0"
uvicorn = "==0.34.0"
whitenoise = "==6.8.2"
psycopg2-binary = "*"
dj-database-url = "*"
uvicorn = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
ntscraper = "*"
snscrape = "*"
twscrape = "*"
google-genai = "*"

[dev-packages]

[requires]
python_version = "3.11"
