[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "*"
gunicorn = "*"
sqlparse = "*"
django-widget-tweaks = "*"
django-markdownx = "*"
django-cloudinary-storage = {extras = ["video"], version = "*"}
whitenoise = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
