nav {
    /*background: lightblue;*/
    display: flex;
    justify-content: space-around;
    height: 3rem;
    padding-top: 0rem;
}

nav div {
    display: flex;
    align-items: center;
}

.pen-icon, .burger-icon {
    font-size: 1.3rem;
    
}
nav .txt {
    /*background: yellow;*/
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}
