* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bookb:rgb(100,149,237);
    --penb:rgb(79,134,247);
    --trans:rgb(0 0 0 / 0.2);
    --grey:rgba(30,32,50,255);
    --red:rgba(255,65,82,255);
    --bg: rgba(255,228,211,255);
    /*border: 1px solid yellow;*/
}

body {
    background: rgba(255,228,211,255);
    width: 100%;
    /*background: rgba(215,215,215,255);
    background: rgba(235,234,241,255);*/
    /*height: 900px;*/    
    color: var(--grey);  
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    all: unset;
}

.form {
    all: unset;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    margin-top: 5rem;

}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 25rem;
    background: rgb(255 255 255 / .7);
    border-radius: 1rem;
    white-space: nowrap;
    height: 2.8rem;
    border-style: dotted;
    border: 2px solid var(--trans);
    padding-right: 1.5rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.search i {
    display: grid;
    place-items: center;
    color: var(--grey) !important;
    font-size: 1.2rem;
    width: 100%;
}

.fa-solid {
    color: var(--grey);
}

.search button {
    background: transparent;
    border: none;
    outline: none;
}


input {
    width: 80%;
    cursor: pointer;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: var(--grey);
    background: transparent;
    padding-left: 2.5rem;
}

.search:hover {
    border: 1px solid var(--grey);
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    /* font-weight: bolder; */
}

.title {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 450;
    width: 100%;
    text-align: left;
    padding-left: 4rem;
}

.books {
   display: flex; 
   /*background: blue;*/
   justify-content: space-around;
   margin-top: 2rem;
   width: 100%;
}

.books > a {
    height: 16rem;
    width: 15rem;
    background: green;
    border-radius: 0 1rem 1rem 0;
}

.book {
    display: flex;
    align-content: center;
    gap: 10%;
}

.book:nth-child(1) { 
    
    background: var(--bookb);
}
.book:nth-child(2) {
    background: var(--grey);
}
.book:nth-child(3){
    background: var(--red);
}


.book > p {
    margin-top: 50%;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
    font-size: 2rem;
    width: fit-content;
}

.book > p:hover {
    opacity: 1;
    font-weight: 600;
    font-size: 1.34rem;
}
.book::before {
    content:' ';
    background: var(--trans);
    display: block;
    height: 16rem;
    width: 3rem;
}
/*.book:nth-child(2)::before {
    background: ;
}*/
.journals {
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:3rem;
    padding-inline: 1.5rem;
    
}
.j1 {
    width: 80%;
    
}

.j1 a {
    cursor: pointer;
}

.j1::before {
    content: '';
    background: red;
    display: block;
    width: 3rem;
    height: 1rem;
    position: relative;
    right: 10%;
    top: 2rem;
    opacity: 0.7;
    border-radius: 1rem;
    transform: rotate(90deg);
    
    
}

.j1.s::before {
    background: var(--bookb);
}

.j1.c::before{
    background: var(--grey);
}

.txt-b {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
.foot-pen {
    height: 5rem;
    width: 10rem;    
    background: var(--penb);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    padding-top: 2rem;
    border-radius: 5rem 5rem 0 0;
}

footer i {
    color: white !important;
}

.cform {
    background: rgb(0 0 0 /0.2);
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cform[open='false'] {
    display: none;
}

.cform form {
    background: var(--grey);
    width: 50%;
    height: 12rem;
    padding-block: 3.5rem;
    border-radius: 1rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}

.cform nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-inline: 1.2rem;
}

.cform nav button {
    width: 3.2rem;
}

.cform small {
    color: var(--red);
    font-size: medium;
    font-weight: 700;
}

.cform input {
    background: rgb(255 255 255 / .2);
    width: 60%;
    color: whitesmoke;
}

.cform input:hover {
    border: 1px solid white;
}

.input-s{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 25rem;
    height: 2.5rem;
    gap: 1.2rem;
}

.cform button {
    background: transparent;
    width: 15%;
    height: 2rem;
    color: whitesmoke;
    border-color: rgb(0 0 0 / .4);
    outline: none;
}

.highlight {
    background: var(--grey);
    padding-inline: .2rem;
    color: var(--bg);
}

@media(max-width:780px){
    .title {
        padding-left: 1.5rem;
    }
    
    .books > a{
        height: 10rem;
        min-width: 6.5rem;
        width: calc( 100% / 5);
    }
    .book > p {
        font-size: 1.3rem;
    }
    
    .book::before{
        height: 10rem;
        width: 1rem;
    }
    
    .j1::before {
        right: 15%;
    }

    h2 {
        font-size: .95rem;
    }
    
}