{% extends 'meta.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" href="{% static 'mj/create.css' %}">
{% endblock css %}

{% block body %}
<section>
        <div class="head">
            <h3 class="day"></h3>
            <div class="time">
                <span class="hr"></span>
                <span class="dot">:</span>
                <span class="min"></span>
            </div>  
        </div>
        <i class="fa-solid fa-flask"></i>
    </section>
    <main>
      <form method=POST>
        {% csrf_token %}

       
        <div class="input">
            {% render_field form.content type="text" class="content"%}<br>
            
           <div class="oth">
               
            <label>Title <span class="star">*</span> : </label>
            {% render_field form.title type="text"%}<br>
           <div class="l">
            <label class="l">Link-1 : </label>
            {% render_field form.link1 type="text" class="i1" %}<br>
           
            
            <label class="l">Link-2 : </label>
            {% render_field form.link2 type="text" class="i1" %}<br>
           </div>
          </div>
          
            <div class="top">
                <div class="submit" type="submit">
                    <button type="submit">
                    <i class="fa-solid fa-check-to-slot"></i>
                    </button>
                </div>
                <div class="sel-c">
                    {% for mood in form.mood_tag %}
                        {{mood.tag}}
                        <label for="{{mood.id_for_label}}">{{mood.choice_label}}</label><br>
                    {% endfor %}

                    {% comment %} <input type="radio" id="blithe" name="class" value="Blithe" checked>                   
                    <label for="blithe">Merry</label><br>

                    <input type="radio" id="gloomy" name="class" value="Gloomy">
                    <label for="gloomy">Gloomy</label><br>

                    <input type="radio" id="covert" name="class" value="Covert">
                    <label for="covert">Covert</label><br> {% endcomment %}


                    
                </div>
            </div>
           
        </div>
        
        
     </form>
     {{form.error}}
    </main>
{% endblock body %}

{% block script %}
<script src="{% static 'mj/create.js' %}"></script>
{% endblock script %}