{% extends 'mj/home.html' %}
{% load static %} 
{% load search %}

{% block content %}
   <h1 class="text-3xl font-bold dark:text-slate-100 tracking-tight mb-6 text-left text-gray-700">Search Results for: "<span class="text-indigo-600 dark:text-indigo-400">{{ request.GET.q }}</span>"</h1> {# Updated title style #}
   
   {% for result in results %}
       <a href="{% url 'view-j' result.id %}" class="block mb-4 p-4 rounded-md shadow-sm bg-white dark:bg-slate-800 hover:dark:bg-slate-700/70 dark:border dark:border-slate-700/80 hover:dark:border-slate-600 transition-all duration-200 ease-in-out hover:shadow-lg hover:-translate-y-px">
           <div>
               <div class="flex justify-between items-start">
                   <h4 class="text-lg font-semibold text-gray-800 dark:text-slate-100 mb-1 tracking-tight">
                       {{ result.title|highlight:request.GET.q|safe }}
                   </h4>
               </div>
               <div class="flex justify-between items-center text-sm text-gray-600 dark:text-slate-400 mt-2">
                   <span>{{ result.date_added }}</span>
                   <i class="fa-solid fa-angle-right text-gray-500 dark:text-slate-500"></i>
               </div>
           </div> 
       </a>
   {% empty %}
       <h2 class="text-gray-500 dark:text-gray-400 text-center py-10 text-lg">
           Sorry, no journal entry found for your search query: "<span class="font-medium">{{ request.GET.q }}</span>".
       </h2>
   {% endfor %}
{% endblock content %}