{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" x-data="{ pageTitle: Alpine.store('pageName') === 'login' ? 'Login Page' : 'Sign Up Page' }">
<head>
    <meta charset="UTF-8">
    <title x-text="pageTitle">Page title</title>
    
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{% static 'mj/auth.css' %}">
    <style>
        .form-errors-custom {
            background-color: #ef4444; /* red-500 */
            color: white;
            border-radius: 0.5rem; /* rounded-lg */
            padding: 1rem; /* p-4 */
            margin-top: 1rem; /* my-4 */
            margin-bottom: 1rem; /* my-4 */
        }
        .form-errors-custom p {
            font-weight: bold;
        }
        .form-errors-custom ul {
            list-style-type: disc;
            list-style-position: inside;
            margin-left: 1rem;
            font-weight: bold;
        }
        [x-cloak] {
            display: none !important;
        }
        .transition-enter {
            transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        }
        .transition-enter-start {
            opacity: 0;
            transform: scale(0.95);
        }
        .transition-enter-end {
            opacity: 1;
            transform: scale(1);
        }
        .transition-leave {
            transition: opacity 0.3s ease-in, transform 0.3s ease-in;
        }
        .transition-leave-start {
            opacity: 1;
            transform: scale(1);
        }
        .transition-leave-end {
            opacity: 0;
            transform: scale(0.95);
        }
    </style>
</head>
<body>
    <main class="c">
        
        <section x-data="{signIn: Alpine.store('pageName') === 'login' ? true : false, signUp: Alpine.store('pageName') === 'signUp' ? true : false}" class="c">
            <aside>
                <a x-on:click.prevent="signIn = true; signUp = false; pageTitle = 'Login Page'; window.history.pushState({}, '', '/login')" tabindex="0" :data="signIn">Sign-in</a>
                <a x-on:click.prevent="signIn = false; signUp = true; pageTitle = 'Sign Up Page'; window.history.pushState({}, '', '/signup')" tabindex="0" :data="signUp">Sign-up</a>
            </aside>
            
            <div x-show="signIn" x-cloak x-transition:enter="transition-enter" x-transition:enter-start="transition-enter-start" x-transition:enter-end="transition-enter-end" x-transition:leave="transition-leave" x-transition:leave-start="transition-leave-start" x-transition:leave-end="transition-leave-end" class="sign-in">
                <form method="POST" action="{% url 'account_login' %}" class="w-[20rem]">
                    {% csrf_token %}
                    <div>
                        <label>Username or email</label>
                        <input type="text" name="login" id="" value="{{form.data.login}}" required autocomplete="off">
                    </div>
                    
                    <div>
                        <label>Password</label>
                        <input type="password" name="password" id="" value="{{form.data.password}}" required autocomplete="off">
                    </div>

                    <div>
                        {% if form.errors %}
                            <div class="form-errors-custom">
                                <p>Error:</p>
                                <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>

                    <div>
                        <button type="submit">Sign-in</button>

                        <small>Don't have an account? <a x-on:click="signIn = false; signUp = true; pageTitle = 'Sign Up Page'">Sign-up</a> or use <a href="accounts/twitter_oauth2/login/?process=signin">Twitter</a></small>
                    </div>
                    
                </form>
            </div>
            
            <div x-show="signUp" x-cloak x-transition:enter="transition-enter" x-transition:enter-start="transition-enter-start" x-transition:enter-end="transition-enter-end" x-transition:leave="transition-leave" x-transition:leave-start="transition-leave-start" x-transition:leave-end="transition-leave-end" class="sign-up">
                <form method="POST" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div x-data="{value: ''}">
                        <label :data="value.length == 0 ? true : false">Username</label>
                        <input type="text" name="username" value="{{sign_up_form.data.username}}" id="" pattern="^.{4,}$" required />
                    </div>
                    
                    <div>
                        <label>Email</label>
                        <input type="email" name="email" value="{{sign_up_form.data.email}}" required />

                    </div>
                    
                    <div>
                        <label>Password</label>
                        <input type="password" name="password1" value="{{sign_up_form.data.password1}}" pattern="^(?=.*[A-Z])(?=.*[0-9]).{8,}$" required />

                    </div>
                    
                    <div>
                        <label>Confirm Password</label>
                        <input type="password" name="password2" value="{{sign_up_form.data.password2}}" pattern="^(?=.*[A-Z])(?=.*[0-9]).{8,}$" required />
                        
                    </div>
                    
                    <div>
                        <label>Pin</label>
                        <input type="password" name="pin" value="{{pin_form.data.pin}}" pattern="^.{4,}$" required />
                    </div>

                    <div>
                        {% if sign_up_form.errors or pin_form.errors %}
                            <div class="form-errors-custom">
                                <p>Error:</p>
                                <ul>
                                {% for error in sign_up_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                {% for field in sign_up_form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in pin_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                {% for field in pin_form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <button type="submit">Sign-up</button>
                        <small>Already have an account? <a x-on:click="signIn = true; signUp = false; pageTitle = 'Login Page'">Sign-in</a> or use <a href="accounts/twitter_oauth2/login/?process=signin">Twitter</a></small>
                    </div>
                </form>
            </div>
            
        </section>
        
        
    </main>
    <script>
        document.addEventListener('alpine:init', () => {
            const path = window.location.pathname;
            
            if (path.includes('signup')) {
                Alpine.store('pageName', 'signUp');
            } else {
                Alpine.store('pageName', 'login');
            }
        });
    </script>
</body>
</html>
